---

---

<div class="mx-auto max-w-screen-xl w-auto">
  <p class="text-2xl md:mr-4 mb-2 text-center md:text-right">Skills</p>

  <div
    class="mx-auto md:mx-0 md:ml-auto w-1/3 h-px mb-10 bg-primary-dark dark:bg-primary-light"
  >
  </div>

  <div class="mr-4 flex flex-wrap gap-3 justify-center">
    <div class="md:w-[1200px] text-center text-4xl">-Placeholder-</div>
  </div>
</div>
