---

---

<div class="dark:bg-neutral-900 flex justify-center items-center h-screen">
  <div class="flex flex-col content-center text-left">
    <p class="text-neutral-900 dark:text-neutral-100 text-5xl mb-4">
      Hey! I'm Paul
    </p>
    <p class="text-neutral-900 dark:text-neutral-100 text-xl max-w-xl">
      Under construction
    </p>
  </div>
</div>
