---
import Navbar from "../components/Navbar.astro";
import AboutCard from "../components/AboutCard.astro";
---

<div class="">
  <div
    class="container-anim dark:bg-primary-dark bg-primary-light dark:text-primary-light text-primary-dark min-h-screen"
  >
    <Navbar />
    <div class="pt-[66px] flex flex-col gap-16">
      <AboutCard />
    </div>
  </div>
</div>

<style>
  .container-anim {
    animation: fadeIn 0.8s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
