---
import Navbar from "../components/Navbar.astro";
import AboutCard from "../components/AboutCard.astro";
---

<div class="dark">
  <div class="dark:bg-primary-dark bg-primary-light h-screen overflow-hidden">
    <div class="container-anim h-full">
      <Navbar />
      <div class="flex justify-center items-center h-full">
        <div class="flex flex-col content-center text-left">
          <AboutCard />
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .container-anim {
    animation: fadeIn 0.8s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
