---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout caption="Okane" url="https://github.com/Paulanerus/Okane">
  <p slot="desc">
    A tiny, command-line-based tool to organize personal finances.
  </p>
</ProjectLayout>
