---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout
  caption="TextExplorer"
  url="https://github.com/Paulanerus/TextExplorer"
>
  <p slot="desc">TODO</p>
</ProjectLayout>
