---
import ProjectLayout from "../layouts/ProjectLayout.astro";
---

<ProjectLayout caption="Tram" url="https://github.com/Paulanerus/Tram">
  <p slot="desc">
    A straightforward build configuration and dependency management tool for
    C/C++.
  </p>
</ProjectLayout>
