---

---

<div class="px-8 md:px-0 max-w-xl mx-auto">
  <p class="text-5xl mb-3">Hello there!</p>

  <p class="text-xl text-justify">
    My name is Paul and I am a computer science student from Germany. I am
    particularly interested in backend and low-level development, and I
    primarily utilise C++ for this purpose. In addition to my technical
    expertise, I am also fluent in both German and English.
  </p>
</div>
