---

---

<div class="p-10 rounded-xl text-text text-xl max-w-xl">
  I am a computer science student from Germany. I have a passion for programming
  languages such as Java and Kotlin, but currently I find myself thoroughly
  enjoying the challenges and opportunities that C++ provides.
</div>
