---
---

<div class="mx-10 mt-14 md:mx-auto md:max-w-3xl">
  <p class="text-5xl mb-3">Hello there!</p>

  <div class="text-xl text-justify flex flex-col gap-6">
    <p>
      My name is Paul and I am a computer science graduate from Germany. I am
      particularly interested in backend and low-level development, and I
      primarily utilise C++ for this purpose. In addition to my technical
      expertise, I am also fluent in both German and English.
    </p>

    <p>
      Along with my focus on backend and low-level development, I have solid
      experience with JVM languages such as Java and Kotlin. I am proficient in
      Python and have worked with Astro for web development projects.
    </p>
  </div>
</div>
