---

---

<div class="px-8 md:px-0 max-w-xl mx-auto">
  <p class="text-5xl mb-3">Hello there!</p>

  <p class="text-xl text-justify">
    I am a computer science student from Germany. I have a passion for
    programming languages such as Java and Kotlin, but currently I find myself
    thoroughly enjoying the challenges and opportunities that C++ provides.
  </p>
</div>
