---

---

<div class="px-8 md:px-0">
  <div class="relative max-w-xl mx-auto">
    <div
      class="absolute top-0 left-0 h-full w-1 bg-gradient-to-b from-[#ed7f91] to-[#b8a2d5]"
    >
    </div>

    <div class="ml-5">
      <p class="text-5xl mb-3">Hello there!</p>

      <p class="text-xl text-justify">
        I am a computer science student from Germany. I have a passion for
        programming languages such as Java and Kotlin, but currently I find
        myself thoroughly enjoying the challenges and opportunities that C++
        provides.
      </p>
    </div>
  </div>
</div>
