---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav
  transition:animate="none"
  transition:persist
  class="fixed top-3 left-1/2 -translate-x-1/2 z-50 h-14 md:h-16 w-[min(92%,84rem)] px-4 md:px-6 flex items-center justify-between rounded-2xl border border-black/10 dark:border-white/10 bg-white/70 dark:bg-neutral-900/70 backdrop-blur supports-[backdrop-filter]:bg-white/40 shadow-lg"
>
  <a href="/" class="text-2xl md:text-3xl">Paul.</a>

  <div class="flex-1 flex justify-center space-x-6 text-lg w-auto">
    <a
      href="https://github.com/Paulanerus"
      class="relative link text-base md:text-lg dark:before:bg-primary-light before:bg-primary-dark"
      target="_blank">GitHub</a
    >
    <a
      href="mailto:hi@paulee.dev"
      class="relative link text-base md:text-lg dark:before:bg-primary-light before:bg-primary-dark"
      >Mail</a
    >
  </div>

  <div class="z-20">
    <ThemeToggle />
  </div>
</nav>

<style scoped>
  .link::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.18s ease;
  }

  .link:hover::before {
    transform: scaleX(1);
  }
</style>
