---
import Navbar from "../components/Navbar.astro";

import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <meta name="author" content="Paul" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <ViewTransitions />
  </head>
  <body
    class="dark:bg-primary-dark bg-primary-light dark:text-primary-light text-primary-dark antialiased"
  >
    <Navbar />
    <main class="mt-36 flex flex-col gap-16">
      <slot />
    </main>
  </body>
</html>
